body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.textboxlabel {
    width: 150px;
    display: inline-block;
}

.inputarea {
    margin-bottom: 20px;
}

footer {
    margin-top:60px;
}

a {
    text-decoration: none;
    color: darkred;
}

a:hover {
    background-color: black;
    color: white;
}
