body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1024px;
}

.textboxlabel {
    width: 150px;
    display: inline-block;
}

.inputarea {
    margin-bottom: 20px;
}

footer {
    margin-top:60px;
}

a {
    text-decoration: none;
    color: darkred;
}

a:hover {
    background-color: black;
    color: white;
}

.applybutton {
    display:inline-block;
}



@media only screen and (min-width: 600px) {
  
    .container {
        display: grid;
        grid-template-columns: 33% 67%;
        padding: 0px;
    }   

    .container > div {
         padding: 20px;
    }
  
}